@import "font.css";
@import "reset.css";

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Misto", serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.section {
    position: relative;
    align-items: center;
    width: 100%;
}

#section1 {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    max-height: 100vw;
    height: clamp(0px, 100vh, 1020px);
    overflow: hidden;
}

.main-parameters {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.img-stack {
    display: grid;
    width: fit-content;

    img {
        grid-area: 1 / 1;
    }
}

.secret1 {
    animation: glitch-show 400ms infinite linear;
}

.secret2 {
    animation: glitch-hide 400ms infinite linear;
}

.copy1 {
    animation: glitch-show 400ms infinite linear;
}

.copy2 {
    animation: glitch-hide 400ms infinite linear;
}

.archive1 {
    animation: glitch-show 400ms infinite linear;
}

.archive2 {
    animation: glitch-hide 400ms infinite linear;
}

.document1 {
    animation: glitch-show 400ms infinite linear;
}

.document2 {
    animation: glitch-hide 400ms infinite linear;
}

@keyframes glitch-show {
    0%, 24.9%   { opacity: 0; }
    25%, 100%     { opacity: 1; }
}

@keyframes glitch-hide {
    0%, 24.9%   { opacity: 1; }
    25%, 100%     { opacity: 0; }
}

.centre {
    display: flex;
    justify-content: center;
}

.division1 {
    display: flex;
    flex-direction: column;
    gap: 187px;
    width: 100%;
}

.division2 {
    display: flex;
    flex-direction: column;
    gap: 51px;
    width: 100%;
}

.main-light {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 500px;

    background: radial-gradient(82.78% 82.78% at 50.12% 7.48%, #19BCF6 0%, rgba(25, 188, 246, 0) 99.52%);
    filter: blur(100px);
    animation: orbitPath 26s linear infinite;;
}

@keyframes orbitPath {
    0% {
        transform: translate(500px, 300px);
    }

    33% {
        transform: translate(-311px, -535px);
    }

    66% {
        transform: translate(432px, -631px);
    }

    100% {
        transform: translate(473px, -223px);
    }

}

.island {
    display: block;
    position: absolute;
    max-width: 100%;
    mix-blend-mode: color-dodge;
    isolation: isolate;
}

.right {
    width: 458px;
    left: 968px;
    top: 76px;
}

.bottom {
    width: 780px;
    left: 99px;
    top: 250px;
}

.top {
    width: 900px;
    left: 150px;
    top: -150px;
}

.island #island-shape {
    fill: url(#islandGradient);
}

